@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
      width: 250px;
    }
    .btn-sm{
      padding: 5px;
      background-color: rgb(203, 197, 209);
      color: rgb(18, 19, 19);
      border-radius: 5px;
      margin-right:3px;
      font-size: 12px;
      text-transform: capitalize;
    }
    /* ... */
  }